* {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input {
margin: 6% 1%;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid rgb(114, 107, 107);
background-color: #eee;
}

input:hover {
border-bottom: 1px solid red;
border-top: none;
border-left: none;
border-right: none;
}

#btn {
width: 100%;
margin-top: 5%;
height: 40px;
margin-bottom: 0%;
background-color: rgb(235, 51, 51);
color: white;
border: 1px solid red;
}
#signinid:hover {
text-decoration: 2px underline red ;
margin-bottom: 10%;

}
#anchorTag {
text-decoration: none;
color: black;
}
